@charset "UTF-8";
/* adjust-font-size-to doesn't like relative units */
/* Mobile */
/* line 53, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 87.5%;
  line-height: 1.5em;
}

/* line 57, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 14px;
}

/* line 22, ../sass/main.sass */
body {
  font-family: Helvetica, sans-serif;
  background: url(../images/light_alu.png);
}

/* line 26, ../sass/main.sass */
h1, .heading {
  font-size: 1.7em;
  line-height: 1.765em;
}

/* line 29, ../sass/main.sass */
h1 {
  line-height: 1.5em;
}

/* line 31, ../sass/main.sass */
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 33, ../sass/main.sass */
h3 {
  font-size: 1.3em;
  line-height: 2.308em;
}

/* line 35, ../sass/main.sass */
h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.364em;
}

/* line 38, ../sass/main.sass */
a {
  color: #1567b6;
  text-decoration: none;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}
/* line 41, ../sass/main.sass */
a:visited {
  color: black;
}

/* line 44, ../sass/main.sass */
hr {
  border: none;
  margin: 0 auto;
  width: 100px;
  background: url(../images/stripes.png);
  background-size: cover;
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 52, ../sass/main.sass */
img, embed, object, video {
  width: 100%;
  max-width: 100%;
}

/* Image Captions */
/* line 57, ../sass/main.sass */
.wp-caption {
  width: 100% !important;
}

/* line 60, ../sass/main.sass */
.wp-caption-text {
  color: #666666;
  font-style: italic;
  text-align: center;
}

/* line 65, ../sass/main.sass */
.heading {
  font-family: Times, serif;
}

/* line 68, ../sass/main.sass */
.button {
  display: block;
  text-align: center;
  width: 6.6em;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 0.857em;
  line-height: 1.75em;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 6, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.button:active, .button:focus {
  outline: none;
}

/* line 79, ../sass/main.sass */
#wrapper {
  width: 95%;
  margin: 0 auto;
}

/* line 83, ../sass/main.sass */
#header {
  position: relative;
  text-decoration: none;
  font-family: "Yellowtail", cursive;
}
/* line 87, ../sass/main.sass */
#header a {
  color: white;
}
/* line 89, ../sass/main.sass */
#header #logo {
  display: block;
  text-align: center;
  letter-spacing: -1px;
  font-size: 3em;
  line-height: 1.5em;
  background-color: #222222;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
  background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
}

/* line 96, ../sass/main.sass */
#content-wrapper, #footer {
  padding: 0 1.5em;
}

/* line 99, ../sass/main.sass */
#content-wrapper {
  background-color: white;
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  *zoom: 1;
}
/* line 106, ../sass/main.sass */
#content-wrapper #sidebar .section {
  margin-bottom: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 110, ../sass/main.sass */
#content-wrapper #sidebar .section.text ul {
  border: 1px solid #dedede;
  padding: 0 1em;
}
/* line 113, ../sass/main.sass */
#content-wrapper #sidebar .section.text ul li {
  line-height: 3em;
  border-bottom: 1px solid #dedede;
}
/* line 116, ../sass/main.sass */
#content-wrapper #sidebar .section.text ul li:last-child {
  border-bottom: none;
}
/* line 119, ../sass/main.sass */
#content-wrapper #sidebar .section h2 {
  text-align: center;
  color: white;
  font-size: 1.3em;
  line-height: 2.308em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef2422), color-stop(100%, #880b0a));
  background: -webkit-linear-gradient(#ef2422, #880b0a);
  background: -moz-linear-gradient(#ef2422, #880b0a);
  background: -o-linear-gradient(#ef2422, #880b0a);
  background: -ms-linear-gradient(#ef2422, #880b0a);
  background: linear-gradient(#ef2422, #880b0a);
}
/* line 126, ../sass/main.sass */
#content-wrapper #sidebar .follow li a {
  display: block;
  padding-left: 40px;
  text-align: left;
}
/* line 130, ../sass/main.sass */
#content-wrapper #sidebar .follow li a:hover {
  color: #ef2422;
}
/* line 132, ../sass/main.sass */
#content-wrapper #sidebar .follow li .facebook {
  background: #f7f7f7 url("../images/facebook.png") 0% 50% no-repeat;
}
/* line 134, ../sass/main.sass */
#content-wrapper #sidebar .follow li .twitter {
  background: #f7f7f7 url("../images/twitter.png") 0% 50% no-repeat;
}
/* line 136, ../sass/main.sass */
#content-wrapper #sidebar .follow li .rss {
  background: #f7f7f7 url("../images/rss.png") 0% 50% no-repeat;
}
/* line 138, ../sass/main.sass */
#content-wrapper #sidebar .follow li .email {
  background: #f7f7f7 url("../images/email.png") 0% 50% no-repeat;
}
/* line 141, ../sass/main.sass */
#content-wrapper #sidebar .other ul {
  padding: 0;
}
/* line 143, ../sass/main.sass */
#content-wrapper #sidebar .other li {
  margin-bottom: 1.5em;
  font-size: 0.857em;
  line-height: 1.75em;
}
/* line 146, ../sass/main.sass */
#content-wrapper #sidebar .other li a {
  position: relative;
  display: block;
}
/* line 149, ../sass/main.sass */
#content-wrapper #sidebar .other li a span {
  position: absolute;
  top: 0px;
  width: 100%;
  display: block;
  padding: 0 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
/* line 157, ../sass/main.sass */
#content-wrapper #sidebar .other li a span:hover {
  color: #ef2422;
}

/* line 160, ../sass/main.sass */
#footer {
  clear: both;
  background-color: #222222;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
  background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -khtml-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1.5em;
}

/* wraps around bodies of text meant for reading */
/* line 169, ../sass/main.sass */
.content p {
  margin-bottom: 14px;
}

/* line 173, ../sass/main.sass */
.post {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
}
/* line 176, ../sass/main.sass */
.post:first-child {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
}
/* line 178, ../sass/main.sass */
.post:last-child {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 185, ../sass/main.sass */
.post .meta {
  font-family: Arial, sans-serif;
  color: #666666;
  font-style: italic;
  font-size: 0.929em;
  line-height: 1.615em;
}
/* line 190, ../sass/main.sass */
.post .meta .author {
  line-height: 3em;
}
/* line 192, ../sass/main.sass */
.post .meta .social {
  margin-left: -5px;
  height: 1.5em;
  margin-bottom: 14px;
}
/* line 196, ../sass/main.sass */
.post .meta .social a {
  margin: 0 !important;
  display: inline-block;
  width: 80px !important;
  padding-left: 5px;
  position: relative;
  vertical-align: top;
}
/* line 203, ../sass/main.sass */
.post .meta .social a.addthis_button_google_plusone {
  width: 60px !important;
}
/* line 205, ../sass/main.sass */
.post .meta .social a iframe, .post .meta .social a div {
  margin: 0 !important;
  position: absolute;
}
/* line 209, ../sass/main.sass */
.post .content {
  clear: both;
}
/* line 211, ../sass/main.sass */
.post .read-more::after {
  content: " »";
}

/* Pagination */
/* line 215, ../sass/main.sass */
#pagination {
  margin-top: 1.5em;
  text-align: center;
}
/* line 218, ../sass/main.sass */
#pagination a {
  display: inline-block;
  color: white;
  background-color: #ef2422;
  padding: 0 1em;
  width: 9em;
  line-height: 3em;
  margin-bottom: 1.5em;
}
/* line 226, ../sass/main.sass */
#pagination a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef2422), color-stop(100%, #cf110f));
  background: -webkit-linear-gradient(#ef2422, #cf110f);
  background: -moz-linear-gradient(#ef2422, #cf110f);
  background: -o-linear-gradient(#ef2422, #cf110f);
  background: -ms-linear-gradient(#ef2422, #cf110f);
  background: linear-gradient(#ef2422, #cf110f);
}

/* Post Show */
/* line 230, ../sass/main.sass */
#disqus_thread {
  margin: 0 !important;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
}

/* Desktop */
/* TODO: how to figure out for ipad */
@media screen and (min-width: 800px) {
  /* line 53, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body {
    font-size: 100%;
    line-height: 1.5em;
  }

  /* line 57, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html > body {
    font-size: 16px;
  }

  /* line 239, ../sass/main.sass */
  #header {
    background-color: #222222;
    color: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
    background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    text-shadow: black 1px 2px 0;
  }
  /* line 242, ../sass/main.sass */
  #header #logo {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding-left: 1em;
    font-size: 3.929em;
    line-height: 1.309em;
    background: url(../images/stripes.png) 0% 0% no-repeat;
  }

  /* line 250, ../sass/main.sass */
  #wrapper {
    max-width: 1024px;
  }
  /* line 253, ../sass/main.sass */
  #wrapper #content-wrapper #main {
    float: left;
    width: 59%;
    border-right: 1px dashed #cccccc;
    padding: 0;
    padding: 0 1.714em;
  }
  /* line 260, ../sass/main.sass */
  #wrapper #content-wrapper #sidebar {
    float: left;
    width: 30%;
    padding: 0;
    padding-left: 1.714em;
  }
  /* line 267, ../sass/main.sass */
  #wrapper #content-wrapper #sidebar .follow li a {
    width: 55%;
  }
}
