@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* adjust-font-size-to doesn't like relative units */
/* Mobile */
/* line 53, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 93.75%;
  line-height: 1.6em;
}

/* line 57, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 15px;
}

/* line 19, ../sass/main.sass */
body {
  font-family: Georgia, Times, serif;
  background: url(../images/light_alu.png);
}

/* line 23, ../sass/main.sass */
.heading {
  font-size: 1.7em;
  line-height: 1.882em;
}

/* line 26, ../sass/main.sass */
h1 {
  font-size: 1.7em;
  line-height: 1.3em;
  padding-bottom: 0.465em;
}

/* line 31, ../sass/main.sass */
h2 {
  font-size: 1.5em;
  line-height: 2.133em;
}

/* line 33, ../sass/main.sass */
h3 {
  font-size: 1.3em;
  line-height: 1.231em;
}

/* line 35, ../sass/main.sass */
h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.455em;
}

/* line 38, ../sass/main.sass */
a {
  color: #1567b6;
  text-decoration: none;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}
/* line 41, ../sass/main.sass */
a:visited {
  color: #115596;
}

/* line 44, ../sass/main.sass */
hr {
  border: none;
  margin: 0 auto;
  width: 100px;
  background: url(../images/stripes.png);
  background-size: cover;
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 52, ../sass/main.sass */
img, embed, object, video {
  width: 100%;
  max-width: 575px;
}

/* line 56, ../sass/main.sass */
blockquote {
  margin: 0 1em;
  font-style: italic;
}

/* line 60, ../sass/main.sass */
strong {
  font-weight: bold;
}

/* Image Captions */
/* line 64, ../sass/main.sass */
.wp-caption {
  width: 100% !important;
}

/* line 67, ../sass/main.sass */
.wp-caption-text {
  color: #666666;
  font-style: italic;
  text-align: center;
}

/* line 72, ../sass/main.sass */
.button {
  display: block;
  text-align: center;
  width: 7.04em;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 0.8em;
  line-height: 2em;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 6, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.button:active, .button:focus {
  outline: none;
}

/* line 83, ../sass/main.sass */
#wrapper {
  width: 95%;
  margin: 0 auto;
}

/* line 87, ../sass/main.sass */
#header {
  position: relative;
  text-decoration: none;
  font-family: "Yellowtail", cursive;
}
/* line 91, ../sass/main.sass */
#header a {
  color: white;
}
/* line 93, ../sass/main.sass */
#header #logo {
  display: block;
  text-align: center;
  letter-spacing: -1px;
  font-size: 3em;
  line-height: 1.6em;
  background-color: #222222;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
  background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
}

/* line 100, ../sass/main.sass */
#content-wrapper, #footer {
  padding: 0 1.6em;
}

/* line 103, ../sass/main.sass */
#content-wrapper {
  background-color: white;
  margin-top: 1.6em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  *zoom: 1;
}
/* line 110, ../sass/main.sass */
#content-wrapper #sidebar .section {
  border: 1px solid #dedede;
  border-top: 2px solid #c71a00;
  padding: 0em 1em;
  margin-bottom: 1.6em;
  overflow: hidden;
  *zoom: 1;
}
/* line 119, ../sass/main.sass */
#content-wrapper #sidebar .section ul li {
  line-height: 1.4em;
  padding: 0.7em 0em;
  border-bottom: 1px solid #dedede;
}
/* line 124, ../sass/main.sass */
#content-wrapper #sidebar .section ul li:last-child {
  border-bottom: none;
}
/* line 127, ../sass/main.sass */
#content-wrapper #sidebar .section h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Helvetica Nueue", "Helvetica", sans-serif;
  padding: 0.7em 0;
  font-size: 1.2em;
  line-height: 1.333em;
}
/* line 135, ../sass/main.sass */
#content-wrapper #sidebar .follow li a {
  display: block;
  padding-left: 40px;
  text-align: left;
}
/* line 139, ../sass/main.sass */
#content-wrapper #sidebar .follow li .facebook {
  background: url("../images/facebook.png") 0% 50% no-repeat;
}
/* line 141, ../sass/main.sass */
#content-wrapper #sidebar .follow li .twitter {
  background: url("../images/twitter.png") 0% 50% no-repeat;
}
/* line 143, ../sass/main.sass */
#content-wrapper #sidebar .follow li .rss {
  background: url("../images/rss.png") 0% 50% no-repeat;
}
/* line 145, ../sass/main.sass */
#content-wrapper #sidebar .follow li .email {
  background: url("../images/email.png") 0% 50% no-repeat;
}

/* line 148, ../sass/main.sass */
#footer {
  clear: both;
  background-color: #222222;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
  background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -khtml-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1.6em;
}

/* wraps around bodies of text meant for reading */
/* line 157, ../sass/main.sass */
.content p {
  margin-bottom: 15px;
}

/* line 161, ../sass/main.sass */
.post {
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
}
/* line 164, ../sass/main.sass */
.post:first-child {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
}
/* line 166, ../sass/main.sass */
.post:last-child {
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 173, ../sass/main.sass */
.post .meta {
  font-family: Arial, sans-serif;
  color: #666666;
  font-style: italic;
  font-size: 0.867em;
  line-height: 1.846em;
}
/* line 178, ../sass/main.sass */
.post .meta .author {
  line-height: 3.2em;
}
/* line 180, ../sass/main.sass */
.post .meta .social {
  margin-left: -5px;
  height: 1.6em;
  margin-bottom: 15px;
}
/* line 184, ../sass/main.sass */
.post .meta .social a {
  margin: 0 !important;
  display: inline-block;
  width: 80px !important;
  padding-left: 5px;
  position: relative;
  vertical-align: top;
}
/* line 191, ../sass/main.sass */
.post .meta .social a.addthis_button_google_plusone {
  width: 60px !important;
}
/* line 193, ../sass/main.sass */
.post .meta .social a iframe, .post .meta .social a div {
  margin: 0 !important;
  position: absolute;
}
/* line 197, ../sass/main.sass */
.post .content {
  clear: both;
}
/* line 199, ../sass/main.sass */
.post .read-more::after {
  content: " »";
}

/* Pagination */
/* line 203, ../sass/main.sass */
#pagination {
  margin-top: 1.6em;
  text-align: center;
}
/* line 206, ../sass/main.sass */
#pagination a {
  display: inline-block;
  width: 9em;
  padding: 0.3em 0;
  text-transform: uppercase;
  font-family: "Helvetica Nueue", "Helvetica", sans-serif;
  border: 1px solid #292929;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c4c4c), color-stop(100%, #1b1b1b));
  background: -webkit-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: -moz-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: -o-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: -ms-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: linear-gradient(top, #4c4c4c, #1b1b1b);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  margin-bottom: 1.6em;
}

/* Post Show */
/* line 220, ../sass/main.sass */
#disqus_thread {
  margin: 0 !important;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
}

/* Desktop */
/* TODO: how to figure out for ipad */
@media screen and (min-width: 800px) {
  /* line 227, ../sass/main.sass */
  #header {
    background-color: #222222;
    color: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
    background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    text-shadow: black 1px 2px 0;
  }
  /* line 230, ../sass/main.sass */
  #header #logo {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding-left: 1em;
    font-size: 3.667em;
    line-height: 1.309em;
    background: url(../images/stripes.png) 0% 0% no-repeat;
  }

  /* line 238, ../sass/main.sass */
  #wrapper {
    max-width: 1024px;
  }
  /* line 241, ../sass/main.sass */
  #wrapper #content-wrapper #main {
    float: left;
    width: 59%;
    border-right: 1px dashed #cccccc;
    padding: 0;
    padding: 0 1.6em;
  }
  /* line 248, ../sass/main.sass */
  #wrapper #content-wrapper #sidebar {
    float: left;
    width: 30%;
    padding: 0;
    padding-left: 1.6em;
  }
  /* line 255, ../sass/main.sass */
  #wrapper #content-wrapper #sidebar .follow li a {
    width: 55%;
  }
}
