@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* adjust-font-size-to doesn't like relative units */
/* Mobile */
/* line 53, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 93.75%;
  line-height: 1.6em;
}

/* line 57, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 15px;
}

/* line 19, ../sass/main.sass */
body {
  font-family: Georgia, Times, serif;
  background: url(../images/light_alu.png);
}

/* line 23, ../sass/main.sass */
.heading {
  font-size: 1.7em;
  line-height: 1.882em;
}

/* line 26, ../sass/main.sass */
i, em {
  font-style: italic;
}

/* line 29, ../sass/main.sass */
h1 {
  font-size: 1.7em;
  line-height: 1.3em;
  padding-bottom: 0.465em;
}

/* line 34, ../sass/main.sass */
h2 {
  font-size: 1.5em;
  line-height: 2.133em;
}

/* line 36, ../sass/main.sass */
h3 {
  font-size: 1.3em;
  line-height: 1.231em;
}

/* line 38, ../sass/main.sass */
h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.455em;
}

/* line 41, ../sass/main.sass */
a {
  color: #1567b6;
  text-decoration: none;
}
/* line 4, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}
/* line 44, ../sass/main.sass */
a:visited {
  color: #115596;
}

/* line 47, ../sass/main.sass */
hr {
  border: none;
  margin: 0 auto;
  width: 100px;
  background: url(../images/stripes.png);
  background-size: cover;
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 55, ../sass/main.sass */
img, embed, object, video {
  width: 100%;
}

/* line 58, ../sass/main.sass */
img#wpstats {
  display: none !important;
}

/* line 61, ../sass/main.sass */
blockquote {
  margin: 0 1em;
  font-style: italic;
}

/* line 65, ../sass/main.sass */
strong {
  font-weight: bold;
}

/* Image Captions */
/* line 69, ../sass/main.sass */
.wp-caption {
  width: 100% !important;
}

/* line 72, ../sass/main.sass */
.wp-caption-text {
  color: #666666;
  font-style: italic;
  text-align: center;
}

/* line 77, ../sass/main.sass */
.button {
  display: block;
  text-align: center;
  width: 7.04em;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 0.8em;
  line-height: 2em;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 6, ../../vendor/gems/ruby/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.button:active, .button:focus {
  outline: none;
}

/* line 88, ../sass/main.sass */
#wrapper {
  width: 95%;
  margin: 0 auto;
}

/* line 92, ../sass/main.sass */
#header {
  position: relative;
  text-decoration: none;
  font-family: "Yellowtail", cursive;
}
/* line 96, ../sass/main.sass */
#header a {
  color: white;
}
/* line 98, ../sass/main.sass */
#header #logo {
  display: block;
  text-align: center;
  letter-spacing: -1px;
  font-size: 3em;
  line-height: 1.6em;
  background-color: #222222;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
  background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
}

/* line 105, ../sass/main.sass */
#content-wrapper, #footer {
  padding: 0 1.6em;
}

/* line 108, ../sass/main.sass */
#content-wrapper {
  background-color: white;
  margin-top: 1.6em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  *zoom: 1;
}
/* line 115, ../sass/main.sass */
#content-wrapper #sidebar .section {
  border: 1px solid #dedede;
  border-top: 2px solid #c71a00;
  padding: 0em 1em;
  margin-bottom: 1.6em;
  overflow: hidden;
  *zoom: 1;
}
/* line 124, ../sass/main.sass */
#content-wrapper #sidebar .section ul li {
  line-height: 1.4em;
  padding: 0.7em 0em;
  border-bottom: 1px solid #dedede;
}
/* line 129, ../sass/main.sass */
#content-wrapper #sidebar .section ul li:last-child {
  border-bottom: none;
}
/* line 132, ../sass/main.sass */
#content-wrapper #sidebar .section h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Helvetica Nueue", "Helvetica", sans-serif;
  padding: 0.7em 0;
  font-size: 1.2em;
  line-height: 1.333em;
}
/* line 140, ../sass/main.sass */
#content-wrapper #sidebar .follow li a {
  display: block;
  padding-left: 40px;
  text-align: left;
}
/* line 144, ../sass/main.sass */
#content-wrapper #sidebar .follow li .facebook {
  background: url("../images/facebook.png") 0% 50% no-repeat;
}
/* line 146, ../sass/main.sass */
#content-wrapper #sidebar .follow li .twitter {
  background: url("../images/twitter.png") 0% 50% no-repeat;
}
/* line 148, ../sass/main.sass */
#content-wrapper #sidebar .follow li .rss {
  background: url("../images/rss.png") 0% 50% no-repeat;
}
/* line 150, ../sass/main.sass */
#content-wrapper #sidebar .follow li .email {
  background: url("../images/email.png") 0% 50% no-repeat;
}

/* line 153, ../sass/main.sass */
#footer {
  clear: both;
  background-color: #222222;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
  background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -khtml-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1.6em;
}

/* wraps around bodies of text meant for reading */
/* line 162, ../sass/main.sass */
.content p, .content ul {
  margin-bottom: 15px;
}
/* line 165, ../sass/main.sass */
.content li {
  margin-left: 1em;
  list-style: disc;
}

/* line 169, ../sass/main.sass */
.post {
  border-bottom: 1px solid #dedede;
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
}
/* line 173, ../sass/main.sass */
.post:first-child {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
}
/* line 175, ../sass/main.sass */
.post:last-child {
  margin-top: 0em;
  padding-top: 1.6em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 182, ../sass/main.sass */
.post .meta {
  font-family: Arial, sans-serif;
  color: #666666;
  font-style: italic;
  font-size: 0.867em;
  line-height: 1.846em;
}
/* line 187, ../sass/main.sass */
.post .meta .author {
  float: left;
  line-height: 3.2em;
}
/* line 191, ../sass/main.sass */
.post .content {
  clear: both;
}
/* line 193, ../sass/main.sass */
.post .read-more::after {
  content: " »";
}

/* Pagination */
/* line 197, ../sass/main.sass */
#pagination {
  margin-top: 1.6em;
  text-align: center;
}
/* line 200, ../sass/main.sass */
#pagination a {
  display: inline-block;
  width: 8em;
  padding: 0.3em 0;
  text-transform: uppercase;
  font-family: "Helvetica Nueue", "Helvetica", sans-serif;
  font-weight: bold;
  border: 1px solid #292929;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.246) -1px -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c4c4c), color-stop(100%, #1b1b1b));
  background: -webkit-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: -moz-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: -o-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: -ms-linear-gradient(top, #4c4c4c, #1b1b1b);
  background: linear-gradient(top, #4c4c4c, #1b1b1b);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  margin-bottom: 1.6em;
}

/* Post Show */
/* line 216, ../sass/main.sass */
#disqus_thread {
  margin: 0 !important;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.6em;
  margin-bottom: 0em;
}

/* Sharing Strip */
/* Sharing Strip */
/* line 2, ../sass/sharing_strip.sass */
.sharing-strip {
  float: right;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 13px;
  font-style: normal;
  padding-top: 5px;
}

/* line 10, ../sass/sharing_strip.sass */
.share-btn {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

/* line 16, ../sass/sharing_strip.sass */
.share-btn:last-child {
  margin-right: 0;
}

/* line 19, ../sass/sharing_strip.sass */
.share-btn a {
  background-color: #f5f6f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f6f5), to(#ebeeec));
  background-image: -webkit-linear-gradient(top, #f5f6f5, #ebeeec);
  background-image: -moz-linear-gradient(top, #f5f6f5, #ebeeec);
  background-image: -o-linear-gradient(top, #f5f6f5, #ebeeec);
  background-image: -ms-linear-gradient(top, #f5f6f5, #ebeeec);
  background-image: linear-gradient(top, #f5f6f5, #ebeeec);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f6f5', EndColorStr='#ebeeec');
  border: 1px solid #cccccc;
  -moz-box-shadow: inset 0 1px 0 white, 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 white, 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 white, 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #777777;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 20px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 white;
  vertical-align: middle;
}

/* line 50, ../sass/sharing_strip.sass */
.share-btn a .icon {
  border-right: solid 1px #cccccc;
  display: block;
  float: left;
  padding: 0 5px;
  text-align: center;
  height: 20px;
}

/* line 58, ../sass/sharing_strip.sass */
.share-btn a .label {
  display: block;
  float: left;
  text-align: center;
  line-height: 20px;
  width: 60px;
}

/* line 65, ../sass/sharing_strip.sass */
.share-btn a:hover {
  color: #333333;
}

/* line 69, ../sass/sharing_strip.sass */
.share-btn a:active {
  box-shadow: none;
  position: relative;
  top: 1px;
}

/* line 74, ../sass/sharing_strip.sass */
.share-btn .total {
  background-color: #f7faf8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7faf8), to(#eff5f2));
  background-image: -webkit-linear-gradient(top, #f7faf8, #eff5f2);
  background-image: -moz-linear-gradient(top, #f7faf8, #eff5f2);
  background-image: -o-linear-gradient(top, #f7faf8, #eff5f2);
  background-image: -ms-linear-gradient(top, #f7faf8, #eff5f2);
  background-image: linear-gradient(top, #f7faf8, #eff5f2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7faf8', EndColorStr='#eff5f2');
  border: 1px solid #cccccc;
  -moz-box-shadow: inset 0 1px 0 white, 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 white, 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 white, 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #777777;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 3px;
  padding: 0 7px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 white;
  vertical-align: middle;
}

/* line 106, ../sass/sharing_strip.sass */
.share-btn .total:after, .share-btn .total:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 115, ../sass/sharing_strip.sass */
.share-btn .total:after {
  border-right-color: #f7faf8;
  border-width: 4px;
  top: 50%;
  margin-top: -4px;
}

/* line 121, ../sass/sharing_strip.sass */
.share-btn .total:before {
  border-right-color: #cccccc;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
}

/* Desktop */
@media screen and (min-width: 800px) {
  /* line 225, ../sass/main.sass */
  img, embed, object, video {
    max-width: 575px;
  }

  /* line 228, ../sass/main.sass */
  #header {
    background-color: #222222;
    color: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.1)), color-stop(100%, rgba(34, 34, 34, 0.1))), url(../images/dark_leather.png);
    background: -webkit-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -moz-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -o-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: -ms-linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    background: linear-gradient(rgba(170, 170, 170, 0.1), rgba(34, 34, 34, 0.1)), url(../images/dark_leather.png);
    text-shadow: black 1px 2px 0;
  }
  /* line 231, ../sass/main.sass */
  #header #logo {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding-left: 1em;
    font-size: 3.667em;
    line-height: 1.309em;
    background: url(../images/stripes.png) 0% 0% no-repeat;
  }

  /* line 239, ../sass/main.sass */
  #wrapper {
    max-width: 1024px;
  }
  /* line 242, ../sass/main.sass */
  #wrapper #content-wrapper #main {
    float: left;
    width: 59%;
    padding: 0;
    padding: 0 1.6em;
  }
  /* line 248, ../sass/main.sass */
  #wrapper #content-wrapper #sidebar {
    float: left;
    width: 30%;
    padding: 0;
    padding-left: 1.6em;
  }
  /* line 255, ../sass/main.sass */
  #wrapper #content-wrapper #sidebar .follow li a {
    width: 55%;
  }
}
